@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body{
  margin:0;
  padding:0;
  font-family: 'Raleway', sans-serif;
  background-color: #F2F1F1;
}

p{
  margin:5px 0 5px 5px;
}

/* Main Header */

#header{
  margin: 0;
  padding: 10px;
  background-color:#CCCCCC;
}

#headerContent{
  text-align: center;
  max-width:30%;
  min-height:50px;
  margin: 0 auto 0;
  font-size: 40px;
}


/* Game Header */

.gheaderC{
  width: 600px;
  min-height: 20px;
  position:relative;
  left: 15%;
}

.gHeader{
  font-size: 40px;
  text-decoration: underline;
}

/* Game Description */

.gDescriptionC{
  width: 60%;
  min-height: 150px;
  background-color:#FDFDFD;
  margin: 0 auto 0;
  font-size:37px;
}

/* Media Query */

@media screen and (max-width: 1000px){

/* Game Header */

#headerr{
  font-size: 45px;
}


}
