@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body{
  margin:0;
  padding:0;
  font-family: 'Raleway', sans-serif;
  background-color: #F2F1F1;
}

p{
  margin:5px 0 5px 5px;
}

/* Main Header */

/* #header{
  margin: 0;
  padding: 10px;
  background:linear-gradient(135deg, #29abe2 50%, #ffffff 50%);
}

#headerContent{
  text-align: center;
  max-width:30%;
  min-height:50px;
  margin: 0 auto 0;
  background:linear-gradient(45deg, #29abe2 50%, #ffffff 50%);
  border-radius: 10px 15px 10px 15px;
  font-size: 40px;
} */

#header{
  margin:0;
  padding:0;
  display:flex;
  min-height:150px;
  background:linear-gradient(135deg, #29abe2 50%, #ffffff 50%);
}

#headerC{
  display:flex;
  min-height: 50px;
  min-width:50px;
  margin:auto;
  background:linear-gradient(45deg, #29abe2 50%, #ffffff 50%);
  justify-content: center;
}

#headerCT{
  text-align: center;
  font-size:100px;
}

/* Game Header */

.gheaderC{
  width: 600px;
  min-height: 20px;
  position:relative;
  left: 15%;
}

.gHeader{
  font-size: 40px;
  text-decoration: underline;
}

/* Game Description */

.gDescriptionC{
  width: 60%;
  min-height: 150px;
  background-color:#FDFDFD;
  margin: 0 auto 0;
  font-size:37px;
}

/* Player Picture */

.playerImageC{
  width: 50%;
  margin: 30px auto;
}

.playerImage{
  border-radius: 30%;
  margin:auto;
  display: block;
}
